name: Run example tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --fix-broken iverilog python3-venv libgnat-13 \
                                          llvm-18-dev wget libdw1t64 libllvm18 libreadline8t64 libtcl8.6 binutils \
                                          git help2man perl python3 make g++ libfl2 libfl-dev zlib1g zlib1g-dev

      - name: Install GHDL
        run: |
          GHDL_VERSION=5.1.1
          GHDL_FULL_VERSION=ghdl-llvm-${GHDL_VERSION}-ubuntu24.04-x86_64
          wget https://github.com/ghdl/ghdl/releases/download/v${GHDL_VERSION}/${GHDL_FULL_VERSION}.tar.gz
          tar xzf ${GHDL_FULL_VERSION}.tar.gz && rm ${GHDL_FULL_VERSION}.tar.gz
          echo "PATH=${PATH}:$(pwd)/${GHDL_FULL_VERSION}/bin" >> $GITHUB_ENV

      - name: Install NVC
        run: |
          NVC_VERSION=1.17.2
          NVC_FULL_VERSION=nvc_${NVC_VERSION}-1_amd64_ubuntu-24.04.deb
          wget https://github.com/nickg/nvc/releases/download/r${NVC_VERSION}/${NVC_FULL_VERSION}
          sudo dpkg -i ${NVC_FULL_VERSION} && rm ${NVC_FULL_VERSION}

      - name: Install verilator
        run: |
          git clone -b v5.042 --recursive https://github.com/verilator/verilator
          cd verilator
          unset VERILATOR_ROOT
          autoconf
          ./configure
          make -j `nproc`
          sudo make install

      - name: Set up Python virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install --upgrade pip

      - name: Install Python dependencies
        run: |
          source venv/bin/activate
          pip install . pytest pytest-xdist

      - name: Run tests with latest cocotb
        run: |
          source venv/bin/activate
          python3 -m pytest -v -n auto examples/

      - name: Run tests with cocotb 1.9.2
        run: |
          source venv/bin/activate
          pip uninstall cocotb && pip install cocotb==1.9.2
          python3 -m pytest -v -n auto examples/
